# Flowers and pandas: Hello World

This notebook provides a simple Hello World analysis of the iris data set with special focus on harnessing the power of pandas.

- **Loading Required Modules**

In [128]:
import seaborn as sns
import pandas as pd
import numpy as np
import re
from IPython.display import display
%config IPCompleter.greedy=True
%matplotlib inline

In [131]:
[x for x in dir(sns) if "data" in x]
from seaborn import load_dataset
iris = load_dataset("iris")

- **Exploring Iris with pandas**

First we try to take a look at our data set to see its structure. R users will be familiar with the `str` function. We can get something similar with a dataframe's `info` method.

In [20]:
display(iris.info())
display(iris.head(4))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

None

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

The above gives us a quick peek at the data set. We can decide to do a number of things but for purposes of this notebook, we shall do the following:

**TODO LIST**

- Rename columns
- Practise Grouping Operations
- Play around with reshaping
- Look for missingness
- Perform basic visualization with `pandas`, `seaborn` and/or `matplotlib`


Having setup a *TODO* list, we can proceed with our analysis.

In [42]:
# Find current column names
iris.columns
# Capitalise the first letter(for purposes of learning)
# This can be done in a number of ways: regex, string's upper method, etc
# since dir returns a list, we can use filter
regex = re.compile(r"upp.*")
list(filter(regex.match,dir(str)))

['upper']

To utilise `str`'s `upper` method as a helper function to capitalise our column names, we can use a `map`:

In [132]:
new_columns = list(map(lambda x: x[0].upper() + x[1:],iris.columns))
new_columns

['Sepal_length', 'Sepal_width', 'Petal_length', 'Petal_width', 'Species']

The above could also have been achieved more easily by using already available methods like `capitalise` and `title`.

In [133]:
with_capitalize = list(map(lambda x: x.capitalize(),iris.columns))
with_title = list(map(lambda x: x.title(),iris.columns))
display(with_capitalize)
display(with_title)

['Sepal_length', 'Sepal_width', 'Petal_length', 'Petal_width', 'Species']

['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']

There are therefore several ways to achieve the same thing. Speed, computational cost, elegance and/or convention should help one decide which of the above would best solve the problem at hand. For simplicity, I will choose any since they all achieve the same thing.

In [134]:
iris.columns = with_title
iris.head(4)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

Having finished the first task on our TODO list, we can proceed with grouping operations.

**Flowers: They come in Groups**:

In [135]:
# define a custom search function to enable easily finding a function by name.
# Find the max by group
iris.groupby("Species").describe()

           Sepal_Length                                              \
                  count   mean       std  min    25%  50%  75%  max
Species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           Sepal_Width         ... Petal_Length      Petal_Width         \
                 count   mean  ...          75%  max       count   mean
Species                        ...
setosa            50.0  3.428  ...        1.575  1.9        50.0  0.246
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
Species
setosa      0.105386  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

The above gives us a few quick summary stats by group. Let's try to divide the data into `bins` using `panda`'s `cut` method. We shall also utilise `numpy`'s `where` to perform something similar to `ifelse`.

In [141]:
iris.Sepal_Length.describe()
# The above gives us a few basic stats about the data which we can use to perform binning.
# Minimum is 4.3, max is 7.9
iris.Sepal_Length=pd.cut(iris.Sepal_Length, bins = [4.0,4.5,5.0,5.5,8.0],
       labels= ["4 to 4.5", "4.5 to 5.0", "5.0 to 5.5", "5.5 to 8.0"])

In [143]:
iris.head(4)

  Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0   5.0 to 5.5          3.5           1.4          0.2  setosa
1   4.5 to 5.0          3.0           1.4          0.2  setosa
2   4.5 to 5.0          3.2           1.3          0.2  setosa
3   4.5 to 5.0          3.1           1.5          0.2  setosa

We can use `numpy`'s `where` to instead simply specify that anything that has "4.5 to 5.0" is ideal and anything below is not ideal(theoretical).

In [144]:
iris["Sepal_Length"] = sns.load_dataset("iris")["sepal_length"]

In [148]:
iris.Sepal_Length = np.where(iris.Sepal_Length > 4.5, "Ideal", "Non-Ideal")

**Summarise the data set to find how many values are ideal**

The following line of code groups the data by Sepal.Length and Species, thereby allowing us to have a glance at the number of theoretically ideal values by Species and other features.

In [154]:
iris.groupby(by=["Sepal_Length", "Species"]).count()

                         Sepal_Width  Petal_Length  Petal_Width
Sepal_Length Species
Ideal        setosa               45            45           45
             versicolor           50            50           50
             virginica            50            50           50
Non-Ideal    setosa                5             5            5